:root {
    --background: #2b235a;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.25rem;
}

#header {
    color: white;
    background-color: var(--background);
    background: radial-gradient(circle, var(--background) 0%, #2d1e83 50%, #496dac 100%);
}

#current-container {
    background-color: var(--background);
    background: linear-gradient(270deg, var(--background) 0%, #6272a0 40%, #75b4e3 100%);
}